body{
    background-color: rgb(242, 204, 132);
    
}
.editmodal{
    background-color: orange;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 45%;
    font-size: 2em;
    border-radius: 20px;
    padding-top: 5px;
    z-index: 200000;
  }

  @media(max-width:600px){
    .editmodal{
        background-color: orange;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    height: 45%;
    font-size: 2em;
    border-radius: 20px;
    padding-top: 5px;
    z-index: 200000;
    justify-content: center;
    text-align: center;
    
    }
    .btn {
        border-radius: 5px; 
        background-color: blue;  
        color: white;
        font-size: .75em;
        padding: 5px;

}
  }